body{
    background-color: rgb(24, 49, 26);
    text-align: center;
}

h1{
    color: rgb(163, 243, 168);
}

.box {
    text-align: center;
    position: center;
    border: 4px solid rgb(163, 243, 168);
    margin: 15px auto;
    padding: 0px;
    width: 15cm;
    color: rgb(163, 243, 168);
    

}

.box > h2 {
    margin: 5;
    font-weight: normal;
    font-size: 1em;
}

#start-game {
    font-size: 1.5em;
    color: rgb(241, 171, 183);
}