body{
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom right, rgb(170, 170, 218), rgb(185, 221, 185), rgb(243, 213, 191));
    background: -webkit-linear-gradient(left,  rgb(170, 170, 218), rgb(185, 221, 185), rgb(243, 213, 191));
    background: -moz-linear-gradient(left,  rgb(170, 170, 218), rgb(185, 221, 185), rgb(243, 213, 191));
}

header {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 15px;
    letter-spacing: 2px;
    justify-content: space-between;
    align-items: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}



header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    list-style: none;
    margin-left: 50px; 
    padding: -50px 0px
}

header ul li a  {
    text-decoration: none;
    padding: 0px 10px;
    color: #fff;
    border-radius: 10px;
}
header ul li a:hover, 
header ul li a.active
{
    background-color: #fff;
    color:gray; 

}
 .image {
    position: relative;
    bottom: 0;
    right: 0;
    width: 300px;
    height: auto;
  }

.image2{
    position: relative;
    bottom: 0;
    right:0;
    width: 200px;
    height: auto; 
}
  
