body{
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom right, rgb(170, 170, 218), rgb(185, 221, 185), rgb(243, 213, 191));
    background: -webkit-linear-gradient(left,  rgb(170, 170, 218), rgb(185, 221, 185), rgb(243, 213, 191));
    background: -moz-linear-gradient(left,  rgb(170, 170, 218), rgb(185, 221, 185), rgb(243, 213, 191));
    
    }

canvas {
    width: 90vw;
    
}

.health-bar {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
  }
  
  .health-bar2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 20px;
    background-color: lightcyan;
    border-radius: 10px;
  }

  .health-bar2-fill {
    height: 100%;
    background-color: lightblue;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }

  
  


  
