body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
}

canvas {
    margin-right: 1px;
    width: min(99vw, 100vw);
    border-radius: 5px;
    background-color: lightblue;

}

.paused {
    box-sizing: border-box;
    background-color: black;
    animation: blink 400ms ease-in-out infinite alternate;
}

main {
    margin: 10px;
    background-color: grey;
    border-radius: 5px;

}

@keyframes blink {
    0% {
        background-color: lightgray;
    }
    50% {
        background-color: rgb(197, 189, 175);
        
    }
    100% {
        background-color: rgb(142, 136, 125);
    }
}

@keyframes health-low {
    0% {
        background-color: rgb(237, 153, 153);
    }
    50% {
        background-color: rgb(230, 44, 44);
        
    }
    100% {
        background-color: rgb(156, 12, 12);
    }
}