body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: white;
}

canvas {
    background-color: white;
    width: min(60vh, 200vw);
}
.container {
    width: 100vw;
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}




